@import 'commons';
@import 'timeline';
@import 'scoreboard';
@import 'problem';
@import 'scorebar';
@import 'worldMap';
@import 'insight';
@import 'gallery';
@import 'quest';
@import 'teamDetail';
@import 'poll';
@import 'home';

html, body {
  height: 100%;
}

body, .modal {
  padding-top: 50px;

  &.mobile {
    padding-top: 78px;
  }
}

h3 {
  border-bottom: 1px gray solid;
}

p.justify {
  text-align: justify;
}

th {
  vertical-align: top;
}

td.fit-content {
  width:1%;
  white-space:nowrap;
}

.no-underline {
  text-decoration: none;
  border-bottom: none;
}

.inline-block {
  display: inline-block !important;
}

.clear {
  clear: both;
}

.center-block {
  margin: 0 auto;
  display: block;
}

.width100 {
  width: 100%;
}

.width50 {
  width: 50%;
}

.contest-time {
  margin: 9px 15px;
  font-size: 22px;
}

.page-header {
  background-color: #f1f1f1;
  padding: 0 10px;
  margin: 0;

  h2 {
    margin: 0;
    padding: 10px 0;
  }
}

@media ( max-width: 750px) {
  .page-header h2 {
    font-size: 1.4em;
  }

  h3 {
    margin: 0;
    padding: 10px 0px 5px;
    margin-bottom: 2px;
    font-size: 1.2em;
    border-bottom: 1px gray solid;
  }
}

// AngularJS ngCloak feature
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#body {
  position: relative;
  display: block;
  margin: auto;
  padding-bottom: 50px;
}

#bodyContainer {
  min-height: 100%;
  position: relative;
}

#footer {
  background-color: #f2f2f2;
  border-top: 1px solid #e2e2e2;
  padding: 10px 15px;
  margin-top: 20px;
  width: 100%;
  font-size: 1em;
  position: absolute;
  bottom: 0;

  #share-container {
    color: gray;
    text-align: center;

    .fa {
      font-size: 1.5em;
    }

    a {
      color: gray;
      text-decoration: none;

      &:hover {
        color: black;
      }
    }
  }
}

.mobile #footer #share-container {
  text-align: left;
}

#top-menu-nav, #mobile-top-menu {
  .navbar-brand {
    &:hover, a, .fa {
      color: #999;
      text-decoration: none;
    }

    a:hover, .fa:hover {
      color: white;
    }
  }
}

.open > .main-dropdown-submenu {
  display: table;
}

.main-dropdown-submenu {
  z-index: 1100;
  background-color: rgba(1, 1, 1, 0.75);
  white-space: nowrap;
  max-width: initial;
  padding: 0;

  a {
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    display: block;

    .glyphicon, .fa {
      font-size: 1.4em !important;
    }
  }

  td {
    text-align: center;
    min-width: 125px;
  }
}

#main-schedule-submenu, #main-scoreboard-submenu, #main-quest-submenu, #main-gallery-submenu, #main-misc-submenu {
  position: fixed;
  top: 50px;
  z-index: 1100;
  background-color: rgba(1, 1, 1, 0.75);
}

.mobile {
  #main-schedule-submenu, #main-scoreboard-submenu, #main-quest-submenu, #main-gallery-submenu, #main-misc-submenu {
    top: 78px;
    width: 100%;

    a {
      font-size: 1.2em;
      color: white;
      padding: 10px 0;
      display: block;

      .glyphicon, .fa {
        font-size: 1.4em;
      }
    }
  }
}

// Shrink the first-level top menu height for mobile devices
#mobile-top-menu {
  min-height: 40px;

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-brand {
    padding-top: 10px;
    height: 40px;
  }

  .navbar-toggle {
    padding: 4px 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #999;
    border-width: 0px;
  }
}

#mobile-submenu {
  padding: 5px 0;
  min-height: 38px;
  height: 38px;
  width: 100%;
  position: fixed;
  top: 40px;
  z-index: 900;

  a {
    color: #777;
    font-size: 20px;
    padding: 0 15px;
  }

  .active {
    border-bottom: 3px #2d75a2 solid;

    a {
      color: #2d75a2;
    }
  }
}

#mobile-top-menu-addon a {
  color: white;
  padding: 0 5px;
}

// The second level top menu styles
.top-submenu {
  &.navbar {
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    min-height: 40px;
    z-index: 1;
    margin-bottom: 0;
  }

  &.navbar-default {
    background-color: #ffffff;

    .navbar-nav {
      & > li > a {
        padding-bottom: 10px;
        padding-top: 10px;
        color: #337ab7;
        text-decoration: none;
      }

      &>.active>a, & a:focus, & a:hover {
        color: #fff;
        background-color: #337ab7;
      }

    }
  }

  .container-fluid {
    padding: 0;
  }

  &.mobile {

    .navbar-nav {
      margin: 0;

      &>li {
        float: left;
      }
      .open .dropdown-menu {
        position: static;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        min-width: 160px;
        list-style: none;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 0;
      }
    }

  }
}

.second-level-submenu {
  position: relative;
  top: -10px;
}

.responsive-second-level-submenu {
  width: 100%;
  overflow: visible;
  overflow-x: auto;
}

.inline-spinner {
  width: 100%;
  height: 200px;
  background: url('../images/ajax-loader.gif') no-repeat center center;
}

.notification-counter {
  font-size: 1.2em;
  padding: 0.3em 0.6em;
}


img.imgICPCID {
    object-fit: cover;
    object-position: center;
    height: 50px;
    width: 50px;
}

@media (max-width: 767px) {
#top-sub-menu .dropdown tr{
	display: inline;
}
#top-sub-menu .dropdown td{
	float: left;
}
#top-sub-menu .dropdown td a{
	max-height: 68px;
}

#top-sub-menu .hidden-xs.hidden-sm{
	display: inline !important;
}
#top-sub-menu .dropdown-menu td br{
	display: none;
}
#top-sub-menu table.dropdown-menu {
	
    width: 100%;
	
}
#top-sub-menu .dropdown-menu tbody{
	
    background: #3A3A3A;
	
}
.main-dropdown-submenu a .glyphicon, .main-dropdown-submenu a .fa {
    font-size: 1em !important;
}
}


#featured-notification-container {
  display: none;

  .featured-list {
    font-size: 0.9em;
    list-style: none;
    margin: 0;
    padding: 0;

    .alert {
      border-radius: 0;
      margin-bottom: 0;
      padding-bottom: 8px;
      padding-top: 8px;
    }
  }
}