<?xml version="1.0" encoding="UTF-8" ?>
<taglib xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
        version="2.1">

    <tlib-version>1.0</tlib-version>
    <short-name>myicpc-functions</short-name>
    <uri>http://myicpc.baylor.edu/functions</uri>

    <function>
        <name>urlEncode</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>java.lang.String urlEncode(java.lang.String)</function-signature>
    </function>

    <function>
        <name>correctURL</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>java.lang.String correctURL(java.lang.String)</function-signature>
    </function>
    <function>
        <name>escapeHTML</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>java.lang.String escapeHTML(java.lang.String)</function-signature>
    </function>
    <function>
        <name>prependHTTP</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>java.lang.String prependHTTP(java.lang.String)</function-signature>
    </function>
    <function>
        <name>formatMinutes</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>java.lang.String formatMinutes(int)</function-signature>
    </function>
    <function>
        <name>isOddLine</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>boolean isOddLine(javax.servlet.jsp.jstl.core.LoopTagStatus)</function-signature>
    </function>
    <function>
        <name>isNLine</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>boolean isNLine(javax.servlet.jsp.jstl.core.LoopTagStatus, int , int)</function-signature>
    </function>
    <function>
        <name>parseWikiSyntax</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>java.lang.String parseWikiSyntax(java.lang.String)</function-signature>
    </function>
    <function>
        <name>escapeJavascript</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>java.lang.String escapeJavascript(java.lang.String)</function-signature>
    </function>
    <function>
        <name>universityLogoUrl</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>java.lang.String universityLogoUrl(java.lang.Long,com.myicpc.model.contest.Contest))</function-signature>
    </function>
    <function>
        <name>teamVideoUrl</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>java.lang.String teamVideoUrl(java.lang.Long,com.myicpc.model.contest.Contest))</function-signature>
    </function>

    <function>
        <name>mapModuleEnabled</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>boolean isMapModuleEnabled(com.myicpc.model.contest.Contest)</function-signature>
    </function>
    <function>
        <name>arrayContains</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>boolean arrayContains(java.lang.Object[],java.lang.Object)</function-signature>
    </function>
    <function>
        <name>pollOptionsToSelect</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>java.lang.String pollOptionsToSelect(java.lang.String)</function-signature>
    </function>
    <function>
        <name>scoreboardModuleEnabled</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>boolean isScoreboardModuleEnabled(com.myicpc.model.contest.Contest)</function-signature>
    </function>
    <function>
        <name>codeInsightModuleEnabled</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>boolean isCodeInsightModuleEnabled(com.myicpc.model.contest.Contest)</function-signature>
    </function>
    <function>
        <name>scheduleModuleEnabled</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>boolean isScheduleModuleEnabled(com.myicpc.model.contest.Contest)</function-signature>
    </function>
    <function>
        <name>questModuleEnabled</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>boolean isQuestModuleEnabled(com.myicpc.model.contest.Contest)</function-signature>
    </function>
    <function>
        <name>teamquestModuleEnabled</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>boolean isTeamquestModuleEnabled(com.myicpc.model.contest.Contest)</function-signature>
    </function>
    <function>
        <name>rssModuleEnabled</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>boolean isRssModuleEnabled(com.myicpc.model.contest.Contest)</function-signature>
    </function>
    <function>
        <name>galleryModuleEnabled</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>boolean isGalleryModuleEnabled(com.myicpc.model.contest.Contest)</function-signature>
    </function>
    <function>
        <name>officialGalleryModuleEnabled</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>boolean isOfficialGalleryModuleEnabled(com.myicpc.model.contest.Contest)</function-signature>
    </function>
    <function>
        <name>pollModuleEnabled</name>
        <function-class>com.myicpc.controller.functions.JSPCustomFunctions</function-class>
        <function-signature>boolean isPollModuleEnabled(com.myicpc.model.contest.Contest)</function-signature>
    </function>
</taglib>